In [2]:
a = 5
y = 4.1
z = True
%whos

Variable   Type     Data/Info
-----------------------------
a          int      5
y          float    4.1
z          bool     True

In [3]:
# Line break
q = 3 \
+ 4
print(q)

7

In [4]:
# Getting input from user
float(input("Write a number: "))

Write a number: 4

4.0

#### Lists Tuples

In [5]:
aList = [ 1, 2, 4]
aList.append(-2)
aList.sort()

print(aList)

[-2, 1, 2, 4]

In [6]:
# Tuples are immutable
aTuple = (1,3,4)
print(aTuple)
aList[2] = 3
print(aList)
aTuple[2] = 3

(1, 3, 4)
[-2, 1, 3, 4]

TypeError: 'tuple' object does not support item assignment

In [7]:
# However you can replace entire tuple
aTuple = (0,2,4)
print(aTuple)

(0, 2, 4)

In [8]:
# You can convert a tuple into a list
print(type(aTuple))
print(type(list(aTuple)))

<class 'tuple'>
<class 'list'>

In [9]:
print(bool(0))
print(bool(''))
# All the others inside a bool statement return true

False
False

#### Dictionary

In [12]:
D = dict()
D
%whos

Variable   Type     Data/Info
-----------------------------
D          dict     n=0
a          int      5
aList      list     n=4
aTuple     tuple    n=3
q          int      7
y          float    4.1
z          bool     True

In [13]:
D["a"] = 2
D["c"] = [2,4]
D

{'a': 2, 'c': [2, 4]}

In [14]:
D2 = {"name": "ali", "age": 27}
D2

{'name': 'ali', 'age': 27}

In [15]:
D2["name"]

'ali'

In [16]:
D2.keys()

dict_keys(['name', 'age'])

In [20]:
list(D2.keys())[0]

'name'

In [24]:
D2.values()

dict_values(['ali', 27])

In [27]:
D2.items()

dict_items([('name', 'ali'), ('age', 27)])

#### Indexing and Slicing

In [31]:
aRange = range(5)
%whos
aRange

Variable   Type     Data/Info
-----------------------------
D          dict     n=2
D2         dict     n=2
a          int      5
aList      list     n=4
aRange     range    range(0, 5)
aTuple     tuple    n=3
q          int      7
y          float    4.1
z          bool     True

range(0, 5)

In [35]:
aList = list(aRange)
aList

[0, 1, 2, 3, 4]

#### Some Functions

In [38]:
print("sum of list: " + str(sum(aList)))
print("length of list: " + str(len(aList)))

sum of list: 10
length of list: 5

### Some Modules

In [39]:
import numpy as np